shaderpacks/
schematics/
saves/
resources/
patchouli_books/
modernfix/
logs/
local/
ldlib/
journeymap/
gtceu/
figura/
fancymenu_data/
ESM/
crash-reports/
coremods/
cache/
backups/
.world-host-cache/
.vscode/
.probe/
.persistent/
emi.json
patchouli_data.json
rhino.local.properties
TrashSlotSaveState.json
usercache.json
usernamecache.json